@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  min-height: 100vh;
  font-family: "poppins";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

// hazır kodlar
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  margin-top: 18px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 8px 16px 10px 16px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
  box-shadow: none;
}

.container {
  max-width: 700px;
  margin: auto;
  padding: 0 40px;
}

// hazır kodlar
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #7e97b8;
  margin: 20px 0;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 8px 16px 10px 16px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
  color: #516d91;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
  box-shadow: none;
}

// logo
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;

  img {
    width: 80px;
  }
  h2 {
    font-weight: normal;
    letter-spacing: 2px;
  }
}

// form
form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
  div {
    position: relative;
    input {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      background: none;
      border: 1px solid gray;
      outline: none;
      color: white;
      &:focus {
        box-shadow: 2px 2px 25px rgb(66, 66, 66);
        outline: white;
      }
    }
    span {
      color: rgb(202, 0, 0);
      position: absolute;
      left: 0;
      bottom: -30px;
    }
  }
  button {
    background-color: #1a1a1a;
    box-shadow: none;
    border: none;
    font-weight: 900;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      background-color: #3f3f3f;
      outline: none;
      box-shadow: none;
    }
  }
}

// header
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  .h-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h3 {
      letter-spacing: 3px;
      font-weight: normal;
    }
  }
  img {
    width: 60px;
  }
  .buttons {
    display: flex;
    gap: 10px;
    a {
      background-color: gold;
      padding: 5px 10px;
      color: black;
      border-radius: 10px;
    }
  }
  .active {
    box-shadow: 2px 2px 20px gold;
  }
}

//

.up {
  color: green !important;
}
.down {
  color: red !important;
}

.cardd {
  transition: all 0.3s;
  margin: 10px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 20px white;
    transform: translate(5px, -5px);
  }
}

body {
  overflow-x: hidden;
}
